body{
  font-family: 'Roboto Slab', serif;
  background-color: #A9A9A9;
  color: 
}

.banner{
  width: 40px:;
  height: 50px;
  
}

.bioPic{
  max-width: 200px;
  height: 150px;
  padding-bottom: 10px;
}

.contactButton{
  margin-bottom: 30px;
}

.contactInput{
  margin-bottom: 5px;
}

.footer {
  background-color: #077562;
  height: 100px;
  color: #EFEFEF;
}

.footer h5{
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

.navbar{
  background-color: #077562;
  border-color: #077562;
  width: 100%;

}

.nav-button{
  background-color: #077562; /* Green */
  border: none;
  color: #EFEFEF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: .42s;
}

.nav-button:hover {
    background-color: #EFEFEF;
    color: #077562;
}

.topBanner{
  opacity: 5%;
  padding-bottom: 20px;
  max-height: : 200px;
  width: 100%;

}

.viewBox{
  background-color: #007849;
}

#contactReason{
  resize:none;
}


