
.banner{
  width: 40px:;
  height: 30px;
}

.bioPic{
  max-width: 200px;
  height: 150px;
  padding-bottom: 10px;
}

.topBanner{
  opacity: 5%;
  width: 100%;
  padding-bottom: 20px;
}

.navbar{
  background-color: ;

}

.partial-thing{
  background-color: #6F7A2D;
}

.contactButton{
    margin-bottom: 30px;
}

.contactInput{
  margin-bottom: 5px;
}

#contactReason{
  resize:none;
}

.footer {
  background-color: #A67B58;
  height: 80px;
}
