<div class="row">
  <div class="col-xs-6 col-xs-offset-1 col-md-4 col-md-offset-1">
    <p>Pick up your fucking phone!</p>
    <p>Telephone: 732-000-0000</p>
    <p>Address: 534 Street, Red Bank NJ 07701</p>
  </div>
  <div class="col-xs-2 col-xs-offset-4 col-md-3 col-md-offset-4">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg contactButton" data-toggle="modal" data-target="#contactModal">
      Get in touch with us.
    </button>

    <!-- Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">How can we help?</h4>
          </div>
          <div class="modal-body">
            <div class="input-group contactInput col-xs-6 col-xs-offset-3">
                <input type="text" placeholder="Your Name" class="form-control" name="clientName">
            </div>
            <div class="input-group contactInput col-xs-6 col-xs-offset-3">
                <input type="text" placeholder= "Email Address"class="form-control" name="clientEmail">
            </div>
            <div class="input-group contactInput col-xs-6 col-xs-offset-3">
                <input type="text" placeholder= "Phone Number" class="form-control" name="clientPhone">
            </div>
            <div class="input-group contactInput col-xs-6 col-xs-offset-3">
                <textarea rows="3" cols="20" placeholder= "Reason for contacting us?" id="contactReason" class="form-control" name="clientReason"></textarea> 
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>