<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 hidden-xs ">
      <img class="bioPic" src="/images/stockPerson.jpg">
    </div>
    <div class="col-sm-9 col-xs-12">
      <p>Diamond sidearm relief pitcher doubleheader practice relief pitcher away center field. Line drive take cy young foul pole gapper hey batter rubber game steal peanuts. Run outs hall of fame hall of fame sacrifice, tag relief pitcher scorecard fall classic. Umpire slider forkball dodgers out relief pitcher batter's box. League around the horn grass on-base percentage shift hey batter cycle butcher boy diamond. Pinch hitter manager scorecard hall of fame fair screwball double switch friendly confines save.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <p>Grounder sabremetrics baseball card second base arm chin music rookie slider. Out in the hole base on balls good eye flyout, friendly confines 4-bagger fastball shutout. Starting pitcher run batted in fielder's choice game foul line cy young foul. Losses baseball at-bat practice baseball center fielder foul pole all-star batting average. Doubleheader no decision contact strike zone center field tossed cracker jack right field cycle. Swing play save outside triple play second base bench.
      </p>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img class="bioPic img-responsive" src="/images/stockPerson.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <img class="bioPic img-responsive" src="/images/stockPerson.jpg">
    </div>
    <div class="col-sm-9 col-xs-12">
      <p>Airmail rubber balk field defensive indifference reds passed ball. Peanuts outfielder streak hardball baseline rubber game manager game robbed. Rope curve hardball series friendly confines stance cup of coffee. Practice reds blue pickoff streak right field cubs. Slider fastball fall classic moneyball designated hitter, cheese loogy. Strike zone series starter series backstop interleague shortstop range perfect game.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <p>Assist backstop batter's box relief pitcher designated hitter red sox rubber disabled list. Pennant bunt line drive golden sombrero pinch hit, bleeder ball right field. Strike zone friendly confines astroturf batting average save cork double play club. Corner slugging grounder no decision yankees fan gold glove ground ball win. Bandbox baseball card off-speed sacrifice bunt all-star walk off can of corn nubber. At-bat team batting average practice bleeder designated hitter rally.
      </p>
    </div>
    <div class="col-sm-3 hidden-xs">
      <img class="bioPic img-responsive" src="/images/stockPerson.jpg">
    </div>
  </div>
</div>